<div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
                <img src="assets/images/logo2.png" alt="" style="width: 158px;">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a></li>
              <li><a routerLink="/data-set" routerLinkActive="active">DataSet</a></li>
              <li><a routerLink="/statistics" routerLinkActive="active">Statistics</a></li>
              <li><a routerLink="/contact" routerLinkActive="active" >Contact Us</a></li>
              <li><a routerLink="/"  >Sign In</a></li>
          </ul>  
          <a class="menu-trigger" (click)="toggleMobileMenu()">
            <span>Menu</span>
          </a>
  
          <div class="mobile-menu" [ngClass]="{'active': isMobileMenuOpen}">
            <ul>
              <li><a routerLink="/" (click)="closeMobileMenu()">Home</a></li>
              <li><a routerLink="/data-set" (click)="closeMobileMenu()">DataSet</a></li>
              <li><a routerLink="/statistics" (click)="closeMobileMenu()">Statistics</a></li>
              <li><a routerLink="/contact" (click)="closeMobileMenu()">Contact Us</a></li>
              <li><a outerLink="/" (click)="closeMobileMenu()">Sign In</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
