<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <!-- Navbar Start -->
  <app-navbar></app-navbar>
  <!-- Navbar End -->
</header>
<!-- ***** Header Area End ***** -->


<!-- Page Start -->
<router-outlet></router-outlet>
<!-- Page End -->

<!-- footer Start -->
<app-footer></app-footer>
<!-- footer End -->