<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="caption header-text">
          <h6>Welcome to STEAM DB</h6>
          <h2>BEST DATA SITE IN THE WEB!</h2>
          <p>
            Welcome to our portal dedicated to Steam games and their statistics! Dive into the fascinating universe of
            Steam, the leading gaming platform in the industry, and discover everything you need to know about your
            favorite titles. From in-depth analyses to real-time statistical data, our site offers a comprehensive
            experience to explore the vast catalog of games available on Steam.
          </p>
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword"
                onkeypress="handle" />
              <button role="button">Search Now</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="right-image">
          <img src="assets/images/banner-image.jpg" alt=" ">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img src="assets/images/featured-01.png" alt="" style="max-width: 44px;">
            </div>
            <h4>Most Downloaded</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img src="assets/images/featured-02.png" alt="" style="max-width: 44px;">
            </div>
            <h4>Users Reviews</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img src="assets/images/featured-03.png" alt="" style="max-width: 44px;">
            </div>
            <h4>Play it!</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img src="assets/images/featured-04.png" alt="" style="max-width: 44px;">
            </div>
            <h4>Data Presentation</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section trending">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6>News</h6>
          <h2>Games Released</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button">
          <a routerLink="/shop">View All</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/product-details"><img src="assets/images/trending-01.jpg" alt=""></a>
          </div>
          <div class="down-content">
            <span class="category">Action/Zombies</span>
            <h4>The Day Before</h4>
            <a routerLink="/product-details"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/product-details"><img src="assets/images/trending-02.jpg" alt=""></a>
          </div>
          <div class="down-content">
            <span class="category">Metroidvania/GOTY</span>
            <h4>Hollow Knight: Silksong</h4>
            <a routerLink="/product-details"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/product-details"><img src="assets/images/trending-03.jpg" alt=""></a>
          </div>
          <div class="down-content">
            <span class="category">Action/RPG</span>
            <h4>YAKUZA: Like a Dragon</h4>
            <a routerLink="/product-details"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/product-details"><img src="assets/images/trending-04.jpg" alt=""></a>
          </div>
          <div class="down-content">
            <span class="category">Action</span>
            <h4>Lord of the Rings: Gollum</h4>
            <a routerLink="/product-details"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section most-played">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6>TOP GAMES</h6>
          <h2>Games with most positive reviews</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button" style="display: none;">
          <a routerLink="/shop">View All</a>
        </div>
      </div>



      <!---
        
       
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a routerLink="/product-details"><img src="assets/images/top-game-01.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Assasin Creed</h4>
              <a routerLink="/product-details">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a routerLink="/product-details"><img src="assets/images/top-game-02.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Assasin Creed</h4>
              <a routerLink="/product-details">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a routerLink="/product-details"><img src="assets/images/top-game-03.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Assasin Creed</h4>
              <a routerLink="/product-details">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a routerLink="/product-details"><img src="assets/images/top-game-04.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Assasin Creed</h4>
              <a routerLink="/product-details">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a routerLink="/product-details"><img src="assets/images/top-game-05.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Assasin Creed</h4>
              <a routerLink="/product-details">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a routerLink="/product-details"><img src="assets/images/top-game-06.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Assasin Creed</h4>
              <a routerLink="/product-details">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
   --->
      <!--tabla-->

      <div class="section">

        <table id="data-table">
          <tbody>
            @for (datum of data; track datum.app_id) {
            <tr>
              <th> {{ datum.app_id }} </th>
              <td> {{ datum.title }} </td>
              <td> {{ datum.date_release }} </td>
              <td> {{ datum.discount }} </td>
              <td> {{ datum.linux }} </td>
              <td> {{ datum.mac }} </td>
              <td> {{ datum.positive_ratio }} </td>
              <td> {{ datum.price_final }} </td>
              <td> {{ datum.price_original }} </td>
              <td> {{ datum.rating }} </td>
              <td> {{ datum.steam_deck }} </td>

              <td> {{ datum.user_reviews }} </td>
              <td> {{ datum.win }} </td>
            </tr>

            } @empty {
            <tr>
              <td colspan="4" class="text-center">Aún no hay datos</td>
            </tr>
            }
          </tbody>
        </table>
      </div>


      <div class="section categories">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="section-heading">
                <h6>Categories</h6>
                <h2>Top Categories</h2>
              </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
              <div class="item">
                <h4>Action</h4>
                <div class="thumb">
                  <a routerLink="/product-details"><img src="assets/images/categories-01.jpg" alt=""></a>
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
              <div class="item">
                <h4>Action</h4>
                <div class="thumb">
                  <a routerLink="/product-details"><img src="assets/images/categories-05.jpg" alt=""></a>
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
              <div class="item">
                <h4>Action</h4>
                <div class="thumb">
                  <a routerLink="/product-details"><img src="assets/images/categories-03.jpg" alt=""></a>
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
              <div class="item">
                <h4>Action</h4>
                <div class="thumb">
                  <a routerLink="/product-details"><img src="assets/images/categories-04.jpg" alt=""></a>
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
              <div class="item">
                <h4>Action</h4>
                <div class="thumb">
                  <a routerLink="/product-details"><img src="assets/images/categories-05.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section cta">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="shop">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section-heading">
                      <h6>Our Shop</h6>
                      <h2>Go Pre-Order Buy & Get Best <em>Prices</em> For You!</h2>
                    </div>
                    <p>Lorem ipsum dolor consectetur adipiscing, sed do eiusmod tempor incididunt.</p>
                    <div class="main-button">
                      <a routerLink="/shop">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2 align-self-end">
              <div class="subscribe">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section-heading">
                      <h6>NEWSLETTER</h6>
                      <h2>Get Up To $100 Off Just Buy <em>Subscribe</em> Newsletter!</h2>
                    </div>
                    <div class="search-input">
                      <form id="subscribe" action="#">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                          placeholder="Your email...">
                        <button type="submit">Subscribe Now</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>