<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="caption header-text">
          <h6>Welcome to STEAM CAT</h6>
          <h2>BEST DATA SITE IN THE WEB!</h2>
          <p>
            Explore the immersive realm of Steam games and their statistics with
            our dedicated portal! Delve into the captivating universe of Steam,
            the foremost gaming platform in the industry, and uncover a wealth
            of information about your beloved titles. Our site provides a
            comprehensive experience, offering in-depth analyses and real-time
            statistical data, allowing you to seamlessly navigate the extensive
            catalog of games available on Steam. Welcome to a hub that brings
            you closer to the heart of gaming excellence!
          </p>
         
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="right-image">
          <img src="assets/images/banner-image.jpg" alt=" " />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img
                src="assets/images/featured-01.png"
                alt=""
                style="max-width: 44px"
              />
            </div>
            <h4>Most Downloaded</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img
                src="assets/images/featured-02.png"
                alt=""
                style="max-width: 44px"
              />
            </div>
            <h4>Users Reviews</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img
                src="assets/images/featured-03.png"
                alt=""
                style="max-width: 44px"
              />
            </div>
            <h4>Play it!</h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a routerLink="/">
          <div class="item">
            <div class="image">
              <img
                src="assets/images/featured-04.png"
                alt=""
                style="max-width: 44px"
              />
            </div>
            <h4>Data Presentation</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section most-played">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6>Steam</h6>
          <h2>What is Steam?</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button" style="display: none">
          <a routerLink="/data-set">View All</a>
        </div>
      </div>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="description"
          role="tabpanel"
          aria-labelledby="description-tab"
        >
          <p>
            Steam is a digital distribution platform developed by Valve
            Corporation, offering a comprehensive ecosystem for gamers. Launched
            in 2003, Steam has become a central hub for PC gaming, providing a
            vast library of video games, software, and other digital content.
            Users can purchase, download, and play games directly from the
            platform. One of Steam's key features is its multiplayer
            functionality, allowing gamers to connect, play together, and engage
            in online communities. The platform also supports digital rights
            management (DRM), ensuring secure and authorized access to purchased
            content.
          </p>
          <br />
          <p>
            Steam provides a range of services, including automatic updates for
            games, social features like friend lists and groups, and an
            integrated storefront showcasing a diverse selection of titles. The
            platform is renowned for its seasonal sales events, offering
            significant discounts on games and attracting a global
            audience.Additionally, Steam supports user-generated content through
            Steam Workshop, enabling players to create and share mods, custom
            items, and additional game content. The platform has had a
            significant impact on the gaming industry, shaping the way games are
            distributed and creating new opportunities for both developers and
            players.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section categories">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h6>Graphs</h6>
          <h2>What do you find?</h2>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-xs-12">
        <div class="item">
          <h4>Useful Data</h4>
          <div class="thumb">
            <a routerLink="/statistics"
              ><img src="assets/images/categories-01.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-xs-12">
        <div class="item">
          <h4>Amount Data Game</h4>
          <div class="thumb">
            <a routerLink="/data-set"
              ><img src="assets/images/categories-02.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-xs-12">
        <div class="item">
          <h4>Filter</h4>
          <div class="thumb">
            <a routerLink="/data-set"
              ><img src="assets/images/categories-03.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-xs-12">
        <div class="item">
          <h4>Variety of Charts</h4>
          <div class="thumb">
            <a routerLink="/statistics"
              ><img src="assets/images/categories-04.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-xs-12">
        <div class="item">
          <h4>Contact</h4>
          <div class="thumb">
            <a routerLink="/statistics"
              ><img src="assets/images/categories-05.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section trending">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6>News</h6>
          <h2>Games Released</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button">
          <a routerLink="/data-set">View All</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/statistics"
              ><img src="assets/images/trending-01.jpg" alt=""
            /></a>
          </div>
          <div class="down-content">
            <span class="category">Action/Zombies</span>
            <h4>The Day Before</h4>
            <a routerLink="/statistics"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/statistics"
              ><img src="assets/images/trending-02.jpg" alt=""
            /></a>
          </div>
          <div class="down-content">
            <span class="category">Metroidvania/GOTY</span>
            <h4>Hollow Knight: Silksong</h4>
            <a routerLink="/statistics"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/statistics"
              ><img src="assets/images/trending-03.jpg" alt=""
            /></a>
          </div>
          <div class="down-content">
            <span class="category">Action/RPG</span>
            <h4>YAKUZA: Like a Dragon</h4>
            <a routerLink="/statistics"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a routerLink="/statistics"
              ><img src="assets/images/trending-04.jpg" alt=""
            /></a>
          </div>
          <div class="down-content">
            <span class="category">Action</span>
            <h4>Lord of the Rings: Gollum</h4>
            <a routerLink="/statistics"><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="shop">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>Our Web</h6>
                <h2>We recommend to subscribe to keep update</h2>
              </div>
              <p>
                Even you can use this web to help you decide for what game you
                will vote for the GOTY.
              </p>
              <div class="main-button">
                <a routerLink="/data-set">Go to DataSet!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-2 align-self-end">
        <div class="subscribe">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>NEWSLETTER</h6>
                <h2>What are you waiting for? <em>Subscribe</em> Now!</h2>
              </div>
              <div class="search-input">
                <form id="subscribe">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Your email..."
                  />
                  <button type="submit">Subscribe Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
