
.header-filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.platform {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;

}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    font-weight: bold;
}

.platform:hover {
    background-color: rgb(207, 201, 201);
    border-radius: 3px;
}

.d-flex {
    gap: 1em;
}

.pagination-container {
    margin-top: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 8px;
    min-width: 180px;
    z-index: 1;
    border-radius: 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.table-div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    padding: 12px;
    font-size: 14px;
}

th {
    background-color: #2a475e;
    color: #c7d5e0;
}


input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.centered-td {
    width: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
}

.loader:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
}

.loader-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader-block {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    background-color: #2a475e;
    box-shadow: 0 0 20px #2a475e;
    animation: loader_562 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-block:nth-child(1) {
    animation-delay: 0.1s;
}

.loader-block:nth-child(2) {
    animation-delay: 0.2s;
}

.loader-block:nth-child(3) {
    animation-delay: 0.3s;
}

.loader-block:nth-child(4) {
    animation-delay: 0.4s;
}

.loader-block:nth-child(5) {
    animation-delay: 0.5s;
}

.loader-block:nth-child(6) {
    animation-delay: 0.6s;
}

.loader-block:nth-child(7) {
    animation-delay: 0.7s;
}

.loader-block:nth-child(8) {
    animation-delay: 0.8s;
}

@keyframes loader_562 {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }

    20% {
        transform: scale(1, 2.5);
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
    }

    40% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
}